h1{
    text-decoration: underline;
    color: rgb(191, 194, 7);
}

.span{
    background: rgb(189, 240, 232);
}
body{
    background: rgb(195, 238, 238);
    color: rgb(117, 119, 118);
}
p.dotted{
    border-style: dotted;
}
.welcomeboarder{
    border: 15px solid rgb(156, 231, 231);
}
.portrait{

border: 15px solid rgb(156, 231, 231);;
}
.homepage{
    background-color: rgb(164, 219, 226);
    color: white;
    margin: 20px;
    padding: 20px;
}
.serif{
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    color: red;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: transLateX(-50%) translate(-50%);
}


a:link, a:visited {
    background-color: none;
    color: black;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
  }
.projectsbackground{
    background: rgb(163, 206, 199);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}


